In [1]:
import pandas as pd
import numpy as np

In [2]:
ff = pd.read_csv('include/forestfires.csv')

In [3]:
ff.head()

   X  Y month  day  FFMC   DMC     DC  ISI  temp  RH  wind  rain  area
0  7  5   mar  fri  86.2  26.2   94.3  5.1   8.2  51   6.7   0.0   0.0
1  7  4   oct  tue  90.6  35.4  669.1  6.7  18.0  33   0.9   0.0   0.0
2  7  4   oct  sat  90.6  43.7  686.9  6.7  14.6  33   1.3   0.0   0.0
3  8  6   mar  fri  91.7  33.3   77.5  9.0   8.3  97   4.0   0.2   0.0
4  8  6   mar  sun  89.3  51.3  102.2  9.6  11.4  99   1.8   0.0   0.0

In [5]:
months = ff['month'].unique()

In [6]:
months

array(['mar', 'oct', 'aug', 'sep', 'apr', 'jun', 'jul', 'feb', 'jan',
       'dec', 'may', 'nov'], dtype=object)

In [7]:
for month in months:
    print(month)

mar
oct
aug
sep
apr
jun
jul
feb
jan
dec
may
nov

In [8]:
for month in months:
    df = ff[ff['month']==month]
    df.to_csv('include/forestfires_{0}.csv'.format(month))

In [4]:
ff['year'] = 2023
ff_yearly = ff[['year', 'month', 'area']].groupby(['year', 'month']).median().reset_index()

In [5]:
ff_yearly

    year month    area
0   2023   apr   0.000
1   2023   aug   0.545
2   2023   dec  10.730
3   2023   feb   0.550
4   2023   jan   0.000
5   2023   jul   1.035
6   2023   jun   0.000
7   2023   mar   0.000
8   2023   may  19.240
9   2023   nov   0.000
10  2023   oct   0.000
11  2023   sep   1.360

In [24]:
pivoted_ff.head()

month,apr,aug,dec,feb,jan,jul,jun,mar,may,nov,oct,sep
0,8.891111,12.489076,13.33,6.275,0.0,14.369687,5.841176,4.356667,19.24,0.0,6.638,17.942616